{% extends 'base.html' %}

{% block title %}Your bookmarks list{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <h2>Add new bookmark</h2>
    <form action="{% url 'bookmarks:save' %}" method="POST">
        {% csrf_token %}
        {{ form.url }}
        {{ form.url.errors }}
        {{ form.tags }}
        {{ form.tags.errors }}
        <input type="submit" value="Submit" class="button tiny radius">
    </form>
    <h1>Bookmarks</h1>
    {% if bookmarl_list %}
      <ul>
      {% for bookmark in bookmarl_list %}
        <li>
        <a href="{{ bookmark.link.url }}" rel="nofollow">{{ bookmark.link.title }}</a> <span class="via-links"> ({{ bookmark.link.base_url }}) </span> - saved by {{ bookmark.link.count }}<br>
        {% if bookmark.tags_as_text %}
        tagged by
        {% for tag in bookmark.tags_as_list %}
          <a href="">{{ tag }}</a>
          {% if not forloop.last %}, {% endif %}
        {% endfor %}
        {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% else %}
      <p>No bookmark</p>
    {% endif %}
  </div>
</div>
{% endblock %}
