<html lang="en">
  <head>
  </head>

  <body>
  <ul>
    <li><a href="/">Home</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'bookmarks:index' %}">Bookmarks</a></li>
    {% else %}
    {% endif %}
  </ul>
  {% if user.is_authenticated %}
  Save Bookmark
  <form action="{% url 'bookmarks:save' %}" method="post">
    {% csrf_token %}
    <input type="text" name="url"  />

    <p><input type="Submit" value="Next &rarr;" /></p>
  </form>
  {% endif %}

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

  {% block content %}

  {% endblock %}
  </body>
</html>

